.openerp .oe_form_sheet_width {
    max-width: 95%;
}

body.oe_single_form {
	background: #EEE url("/trust/logo") repeat scroll 0% 0%;
	height: 100%;
	background-size:cover;
}

body.oe_single_form .oe_single_form_container{
	background: rgba(255,255,255,.7);
}